.ui-btn {
  margin: 0.5em 0;
}

a {
  text-decoration: none;
}

button:focus{
  outline: none;
}

.hiddenContent{
  display: none;
}

.rotation{
  animation: spin 1s infinite linear;
  /*display: none;*/
}

.rotationBtn{
  animation: spin 1s infinite linear;
  /*display: none;*/
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}