<!-- PAGE ACHAT TICKETS -->

<div data-role="page" id="achat" >
    <div data-role="header" data-position="fixed" data-tap-toggle="false">
        <a href="#" id="resetTicket" class="ui-btn ui-icon-back ui-btn-icon-left" data-rel="back"></a>
        <h1>Achat de tickets</h1>
        <a href="panier.html" class="panierBtn ui-btn ui-icon-shop ui-btn-icon-right" data-transition="slide"></a>
    </div>

    <div data-role="content" class="ui-content">

      <div class="hiddenContent">

      <div class="nd2-card">
        <div class="card-title">
          <h2 class="card-primary-title">Ticket Jaune</h2>
          <h4 class="card-subtitle">Plat uniquement</h4>
          <h4 class="card-subtitle" id="prixJaune"></h4>
          <p id="numJaune"> </p>

        </div>

        <div class="card-action">
          <button id="addJaune" class="ui-btn ui-btn-inline clr-primary"><i class='zmdi zmdi-plus'></i> Ajouter</button>
          <button id="removeJaune" class="ui-btn ui-btn-inline clr-warning ui-disabled" disabled><i class="zmdi zmdi-delete ui-pull-left"></i> Supprimer</button>
        </div>
      </div>

      <div class="nd2-card">
        <div class="card-title">
          <h2 class="card-primary-title">Ticket Vert</h2>
          <h4 class="card-subtitle">Entrée + plat ou plat + dessert</h4>
          <h4 class="card-subtitle" id="prixVert"></h4>
          <p id="numVert"> </p>
        </div>
        <div class="card-action">
          <button id="addVert" class="ui-btn  ui-btn-inline clr-primary"><i class='zmdi zmdi-plus'></i> Ajouter</button>
          <button id="removeVert" class="ui-btn ui-btn-inline clr-warning ui-disabled" disabled><i class="zmdi zmdi-delete ui-pull-left"></i> Supprimer</button >
        </div>
      </div>

      <div class="nd2-card">
        <div class="card-title">
          <h2 class="card-primary-title">Ticket Rose</h2>
          <h4 class="card-subtitle">Entrée + plat + dessert</h4>
          <h4 class="card-subtitle" id="prixRose"></h4>
          <p id="numRose"> </p>
        </div>
        <div class="card-action">
          <button id="addRose" class="ui-btn  ui-btn-inline clr-primary"><i class='zmdi zmdi-plus'></i> Ajouter</a>
          <button id="removeRose" class="ui-btn clr-warning ui-btn-inline ui-disabled" disabled><i class="zmdi zmdi-delete ui-pull-left"></i> Supprimer</button>
        </div>
      </div>

       <!-- BOUTON -->
      <a href="panier.html" class="panierBtn ui-btn ui-btn-raised clr-primary" data-transition="slide"><i class='zmdi zmdi-shopping-basket'></i> Aller au panier</a>


    </div>
    <div class="loadArea"></div>

  </div>
</div>
