<!-- PAGE DECONFIRMATION DE PRESENCE -->

<div data-role="page" id="deconfirmation">
    <div data-role="header"  data-position="fixed" data-tap-toggle="false">
        <a href="#" class="ui-btn ui-icon-back ui-btn-icon-left" data-rel="back"></a>
        <h1>Annuler présence</h1>
    </div>
    <div data-role="content" class="ui-content">

            <h4>Êtes-vous sur de vouloir annuler votre présence ?</h4>
            <button type="submit" id="unconfirmPresenceBtn"  class="ui-btn  ui-btn-raised clr-primary">OUI</button>
            <a class="ui-btn  ui-btn-raised clr-primary" href="#" data-rel="back">NON</a>
            <div class="loadArea"></div>

    </div>
</div>
