
<!-- PAGE OUBLI DE MOT DE PASSE -->

<div data-role="page" id="forgot">

    <div data-role="header" data-position="fixed" data-tap-toggle="false" class="header">
        <a href="#" class="ui-btn ui-icon-back ui-btn-icon-left" data-rel="back"></a>
        <h1>Oubli de mot de passe</h1>
    </div>

    <div data-role="content">
        <!-- début form -->
        <form method="POST" id="formForgot">

            <label for="emailForgot">Adresse e-mail:</label>
            <input type="email" name="emailForgot" id="emailForgot" placeholder="personne@exemple.com">


            <button class="ui-btn ui-btn-raised clr-primary" type="submit">Réinitialiser mon mot de passe</button>
        </form>



    </div>
</div>
