
<!-- PAGE INSCRIPTION -->

<div data-role="page" id="inscription">

  <div data-role="header" data-position="fixed" data-tap-toggle="false">
    <a href="#" class="ui-btn ui-icon-back ui-btn-icon-left" data-rel="back"></a>
    <h1>Inscription</h1>
  </div>

  <div data-role="content">
    <!-- début form -->
    <form method="POST" id="forminscription">

        <label for="nom">Nom </label>
        <input type="text" name="nom" id="nom" value="" placeholder="2 caractères minimum et aucun chiffre"/>

        <label for="prenom">Prénom</label>
        <input type="text" name="prenom" id="prenom" value="" placeholder="2 caractères minimum et aucun chiffre"/>

        <label for="bday">Date de naissance:</label>
        <input type="date" name="bday" id="bday">

        <label for="tel">Téléphone</label>
        <input type="tel" name="tel" id="tel" value="" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" placeholder="10 chiffres (sans espaces) au minimum" />


        <label for="email">Adresse e-mail:</label>
        <input type="email" name="email" id="email" placeholder="personne@exemple.com">

        <label for="emailconf">Confirmez votre adresse e-mail:</label>
        <input type="email" name="emailconf" id="emailconf" >


        <label for="mdpreg">Mot de passe</label>
        <input type="password" name="mdpreg" id="mdpreg" value="" placeholder="6 caractères au minimum">

        <label for="mdpconf">Confirmez votre mot de passe</label>
        <input type="password" name="mdpconf" id="mdpconf" value="">


        <label for="formationSel" class="select">Indiquez votre Formation</label>


        <select name="formation" id="formationSel" data-mini="true" data-native-menu="true">
          <option value="dev">Développeur web</option>
          <option value="chaud">Chaudronnier</option>
          <option value="soud">Soudeur</option>
          <option value="co">Commercial</option>
        </select>


        <button id="btninscription" class="ui-btn ui-btn-raised clr-primary">Je m'inscris</button>
    </form>

    <div class="loadArea"></div>

  </div>
</div>
