<!-- PAGE MENU PRINCIPAL -->
<div data-role="page" id="mainmenu">

    <!-- Header de la page -->
    <div data-role="header" id="headMenu" data-position="fixed" data-tap-toggle="false" class="header">
        <h1>Menu principal</h1>
        <a id="logOut" class="ui-btn ui-corner-all ui-btn-inline ui-mini header-button-left ui-btn-icon-left zmdi zmdi-power-off"></a>
        <a id="refreshBtn" class="ui-btn ui-corner-all ui-btn-inline ui-mini header-button-left ui-btn-icon-right zmdi zmdi-refresh"></a>

    </div>

    <!-- corps de page, menu -->
    <div role="main" class="ui-content">

      <div id="soldeDiv" class="nd2-card"></div>

        <!--<div style="width: 60%;margin: auto;">-->

        <div class="ui-grid-solo">
            <div class="ui-block-a">
                <a id="achatBtn" class="ui-btn ui-btn-raised clr-primary" data-transition="slide" href="achat.html"><i class='zmdi zmdi-collection-add'></i> Achat de tickets</a>
            </div>
        </div>

        <div class="ui-grid-a">

            <div class="ui-block-a">
                <a id="menuBtn" class="ui-btn ui-btn-raised clr-primary" data-transition="slide" href="menucantine.html"><i class='zmdi zmdi-local-dining'></i> Menus</a>
            </div>
            <div class="ui-block-b">
                <a id="qrCodeBtn" class="ui-btn  ui-btn-raised clr-primary" data-transition="slide" href="code.html"><i class='zmdi zmdi-check'></i> QR CODE</a>
            </div>
            <div class="ui-block-a">
                <a href="help.html" id="helpBtn" class="ui-btn  ui-btn-raised clr-primary" data-transition="slide"><i class='zmdi zmdi-help'></i> Aide</a>
            </div>
            <div class="ui-block-b">
                <a id="paramBtn" class="ui-btn ui-btn-raised clr-primary" data-transition="slide" href="parametres.html"><i class='zmdi zmdi-settings'></i> Paramètres</a>
            </div>

        </div>
    </div>

</div>
