<!-- PAGE MENU PRINCIPAL -->
<div data-role="page" id="mainmenu">

    <!-- Header de la page -->
    <section data-role="header" id="headMenu" data-position="fixed">
        <h1>Menu principal</h1>
        <a id="logOut" class="ui-btn ui-corner-all ui-btn-inline ui-mini footer-button-left ui-btn-icon-left ui-icon-power">Log out</a>
    </section>

    <!-- corps de page, menu -->
    <section role="main" class="ui-content">

      <div class="ui-body ui-body-a ui-corner-all">
          <h2>Solde</h2>
          <div id="soldeJaune"></div>
          <div id="soldeVert"></div>
          <div id="soldeRose"></div>
          <div id="soldeNull"></div>
          <div id="confirm"></div>
      </div>

        <a id="achatBtn" class="ui-btn" data-transition="slide" href="achat.html">Achat de tickets</a>
        <a id="menuBtn" class="ui-btn" data-transition="slide" href="menucantine.html">Menu de la semaine</a>
        <a id="paramBtn" class="ui-btn" data-transition="slide" href="parametres.html">Paramètres</a>
        <a id="qrCodeBtn" class="ui-btn" data-transition="slide" href="code.html">QR CODE</a>

    </section>
</div>
