<!-- PAGE PARAMETRES  -->

<div data-role="page" id="parametres">
  <div data-role="header">
      <a href="#" class="ui-btn ui-icon-back ui-btn-icon-left" data-rel="back">Retour</a>
      <h1>Paramètres</h1>
  </div>


  <div data-role="main" class="ui-content">


      <!-- début form -->
    <form metod="POST" id="frminscription">
      <label for="adresse">Adresse</label>
      <textarea type="text" name="adresse" id="adresse"  class="required"></textarea>

      <label for="tel">Numéro de téléphone</label>
      <input type="text" name="tel" id="tel" class="required number" />


      <label for="newEmail">Adresse e-mail:</label>
      <input type="email" name="newEmail" id="newEmail">


      <label for="mdp">Ancien mot de passe</label>
      <input type="password" name="mdp" id="mdp" value="" class="required password" />
      <label for="newmdp">Nouveau mot de passe</label>
      <input type="password" name="newMdp" id="newMdp" value="" class="required password" />
      <label for="newMdp">Confirmer votre nouveau mot de passe</label>
      <input type="password" name="newMdp" id="newMdp" value="" class="required password" />

      <button type="submit" id="btnSave">Sauvegarder</button>

    </form>

  </div>
</div>
