<!-- PAGE PARAMETRES MOT DE PASSE  -->

<div data-role="page" id="parametresmdp">
    <div data-role="header" data-position="fixed">
        <a href="#" class="ui-btn ui-icon-back ui-btn-icon-left" data-rel="back">Retour</a>
        <h1>Changer le mot de passe</h1>
    </div>


    <div data-role="main" class="ui-content" id="parametresmdp-content">


        <!-- début form -->
        <form method="POST" id="formparametresmdp">
            <label for="mdp">Ancien mot de passe</label>
            <input type="password" name="oldMdp" id="oldMdp" value="" class="required password" />
            <label for="newMdp">Nouveau mot de passe</label>
            <input type="password" name="newMdp" id="newMdp" value="" class="required password" />
            <label for="newMdpConf">Confirmer votre nouveau mot de passe</label>
            <input type="password" name="newMdpConf" id="newMdpConf" value="" class="required password" />

            <button type="submit" id="btnSaveMdp" disabled>Sauvegarder</button>
         </form>

    </div>
</div>
